language: node_js
node_js:
  - "7.5.0"

before_script:
  - npm install -g grunt-cli
  - ./node_modules/bower/bin/bower install
  - ./node_modules/protractor/bin/webdriver-manager update

script:
  - grunt test:jshint
  - grunt test:unit

after_script:
  - cat ./test/coverage/report-lcov/lcov.info | ./node_modules/coveralls/bin/coveralls.js
